
body {
  background-color:pink;
  background-image:url("https://wallpaperaccess.com/full/1540052.jpg");
  
  min-height: 1000px;
  font-family: 'Signika';
}

h1 {
  color: #fff;
  padding: 10px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: black;
  border-radius: 5px;
  align-items: center;
  
}

#heading {
  background-color: #A683E3;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

form {
  text-align: center;
  margin-top: 150px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: rgb(230, 223, 223);
  color: rgb(48, 46, 46);
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: solid  ;
  background: white;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  border-color: rgb(31, 29, 29);
  
  
}



::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

#cityInput{
  color: white;
}

label{
  font-family: 'Signika';
  font-size: 25px;
  color:#F1F1F1

}

#cityInput{
  color: black;
}

#test{
  font-size: 23px;
}